@import url("https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

@theme {
  --color-green: rgb(178, 212, 48);
  --color-yellow: rgb(241, 248, 100);
  --color-light-yellow: rgb(241, 237, 179);
  --color-light-green: rgb(175, 250, 90);
  --font-fondamento: "Fondamento", cursive;
  --font-sans: "Josefin Sans", sans-serif;
}

html,
body {
  width: 100%;
  background-color: #000000;
  color: var(--color-yellow);
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-weight: 500;
  font-size: 18px;
}

@layer utilities {
  .text-green {
    color: var(--color-green);
  }
  .text-light-yellow {
    color: var(--color-light-yellow);
  }
  .text-light-green {
    color: var(--color-light-green);
  }
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility col-center {
  @apply flex flex-col justify-center items-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility text-gradient {
  display: inline-block;
  background: linear-gradient(
    to bottom,
    rgb(241, 248, 100),
    rgb(178, 212, 48),
    rgb(56, 142, 60)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@utility radial-gradient {
  background: radial-gradient(
    circle at center,
    rgb(67, 67, 67) 0%,
    rgb(0, 0, 0) 50%,
    transparent 100%
  );
}

@utility linear-gradient {
  background: linear-gradient(180deg, rgb(49, 49, 49) 0%, rgb(15, 15, 15) 100%);
}

@utility masked-img {
  mask-image: url("/images/mask-img.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 50%;
}

@layer components {
  main {
    @apply w-full overflow-x-hidden;
  }

  nav {
    @apply fixed z-50 w-full;

    div {
      @apply flex md:flex-row flex-col md:justify-between items-center gap-5 py-5 lg:px-4 px-5 container mx-auto;
    }

    p {
      @apply font-fondamento text-3xl -mb-2;
    }

    a {
      @apply cursor-pointer text-nowrap md:text-lg text-base text-light-yellow;
    }

    a:hover {
      @apply text-light-green;
    }

    ul {
      @apply flex-center lg:gap-12 gap-7;
    }
  }

  .noisy {
    @apply absolute inset-0 size-full bg-[url("/images/noise.png")];
  }

  #hero {
    @apply relative z-10 min-h-dvh w-full border border-transparent;

    h1 {
      @apply md:mt-16 mt-40 text-6xl md:text-[20vw] leading-none text-center font-fondamento;
    }

    .left-leaves {
      @apply absolute left-0 md:top-20 xl:top-36 2xl:top-52 md:bottom-auto -bottom-60 md:w-fit max-sm:w-1/2;
    }

    .right-leaf {
      @apply absolute right-0 md:bottom-0 xl:top-0 2xl:top-12 top-1/2 md:w-fit w-full;
    }

    .body {
      @apply container mx-auto absolute left-1/2 -translate-x-1/2 lg:bottom-10 top-auto md:top-[30vh] flex justify-between items-end px-5;

      .content {
        @apply flex lg:flex-row flex-col w-full gap-10 justify-between items-center lg:items-end mx-auto;

        p:nth-of-type(2) {
          @apply font-fondamento text-6xl text-green max-w-xl;
        }

        p:last-of-type {
          @apply 2xl:text-start text-center;
        }

        .view-cocktails {
          @apply space-y-5 text-lg lg:max-w-2xs md:max-w-xs w-full;

          p {
            @apply text-left mt-10 text-green tracking-wider;
          }

          a {
            @apply font-semibold opacity-80 2xl:text-start text-center hover:text-green;
          }
        }
      }
    }
  }

  video {
    @apply w-full md:h-[80%] h-1/2 absolute bottom-0 left-0 md:object-contain object-bottom object-cover;
  }

  #cocktails {
    @apply relative min-h-dvh w-full overflow-hidden;

    #c-left-leaf {
      @apply absolute left-0 md:bottom-0 md:top-auto top-70 md:w-fit w-1/3;
    }

    #c-right-leaves {
      @apply absolute right-0 md:bottom-0 md:top-auto top-130 md:w-fit w-1/3;
    }

    .list {
      @apply container mx-auto relative z-10 flex md:flex-row flex-col justify-between items-start gap-20 pt-40 2xl:px-0 px-5;

      .popular {
        @apply space-y-8 w-full md:w-fit;
      }

      .loved {
        @apply space-y-8 w-full md:w-fit pb-20 md:pb-0;
      }

      h2 {
        @apply text-xl font-medium;
      }

      ul {
        @apply space-y-8;

        li {
          @apply flex justify-between items-start;

          h3 {
            @apply font-fondamento 2xl:text-3xl text-xl text-green;
          }

          p {
            @apply text-base tracking-wider;
          }

          span {
            @apply text-xl font-medium;
          }
        }
      }
    }
  }

  #about {
    @apply min-h-screen py-28 2xl:px-0 px-5 container mx-auto;

    .content {
      @apply grid grid-cols-1 lg:grid-cols-12 gap-5;

      h2 {
        @apply text-5xl md:text-6xl font-fondamento max-w-lg text-yellow;
      }

      .sub-content {
        @apply md:col-span-4 space-y-5 flex flex-col justify-between;

        p {
          @apply text-lg;
        }

        .star-rate {
          @apply flex justify-start items-center gap-3 mb-2;
        }

        div {
          @apply flex flex-col justify-between md:gap-2 gap-5;

          span {
            @apply text-green font-bold text-5xl;
          }
        }

        .review-flex-between {
          @apply flex justify-between items-center gap-5;
        }

        .divider {
          @apply w-[2px] inline;
        }

        .users-icons {
          @apply rounded-[60px] w-[196px] h-[85px];
        }
      }
    }

    .badge {
      @apply inline-block rounded-full bg-[#f1edb3] text-black px-4 py-2 text-sm font-medium mb-8;
    }

    .top-grid {
      @apply grid grid-cols-1 xl:grid-cols-12 gap-5 mb-5 md:px-0 px-5;

      > div {
        @apply rounded-3xl overflow-hidden h-72 relative;
      }

      img {
        @apply object-cover w-full h-full;
      }
    }

    .bottom-grid {
      @apply grid grid-cols-1 md:grid-cols-12 gap-5 md:px-0 px-5;

      > div {
        @apply rounded-3xl overflow-hidden h-72 relative;
      }

      img {
        @apply object-cover w-full h-full;
      }
    }
  }

  #art {
    @apply flex-center flex-col min-h-dvh p-5 mt-20 relative radial-gradient;

    h2 {
      @apply relative md:text-[20vw] text-8xl text-nowrap leading-none font-fondamento text-center text-[#c0fd6ba1] mb-8;
    }

    .content {
      @apply flex md:flex-row flex-col items-center sm:justify-between md:mb-16 md:mt-0 mt-40 gap-10;
    }

    .cocktail-img {
      @apply md:w-[60vw] w-full h-[50vh] md:h-[70vh] rounded-4xl overflow-hidden absolute top-0 md:top-1/2 md:-translate-y-1/2 left-1/2 -translate-x-1/2;
    }

    .masked-container {
      h2 {
        @apply text-4xl md:text-5xl font-fondamento text-center mb-10 text-light-green mt-32;
      }

      div {
        @apply opacity-0 md:px-0 px-5 space-y-5 absolute md:bottom-5 bottom-92 left-1/2 -translate-x-1/2;

        .a-left-leaves {
          @apply object-contain absolute -bottom-10 max-sm:-bottom-30 -left-80 max-md:-left-40 w-full -z-10;
        }

        .a-right-leaves {
          @apply object-contain absolute -bottom-30 max-sm:bottom-20 -right-80 max-md:-right-40 w-full -z-10;
        }

        h3 {
          @apply lg:text-5xl max-sm:text-4xl text-2xl text-center font-sans w-full translate-y-5 text-gradient;
        }

        p {
          @apply text-xl text-center;
        }
      }
    }
  }

  #menu {
    @apply relative w-full md:mt-40 mt-0 2xl:px-0 px-5 py-20 radial-gradient;

    .m-left-leaves {
      @apply object-contain absolute -bottom-20 left-0 md:w-fit w-1/2;
    }

    .m-right-leaves {
      @apply object-contain absolute -top-40 right-0 md:w-fit w-1/2;
    }

    .cocktail-tabs {
      @apply grid md:grid-cols-4 grid-cols-2 md:gap-20 gap-10 sm:mb-32 mb-20 relative z-10 md:max-w-6xl md:mx-auto;

      button {
        @apply md:text-3xl text-xl pb-2 cursor-pointer hover:text-green hover:border-yellow-300 border-b-1 transition-colors font-fondamento;
      }
    }

    .content {
      @apply flex flex-col justify-between items-center container mx-auto relative;

      .arrows {
        @apply flex items-center justify-between w-full absolute;

        button {
          @apply text-light-yellow hover:text-green cursor-pointer transition-colors max-w-36;

          span {
            @apply text-3xl font-fondamento leading-none hidden md:block;
          }
        }
      }
    }

    .cocktail {
      @apply flex-center mt-10;

      img {
        @apply object-contain w-[230px] sm:w-full h-auto;
      }
    }

    .recipe {
      @apply flex max-md:flex-col gap-10 md:items-center justify-between w-full lg:absolute bottom-0;

      .info {
        @apply space-y-4 lg:translate-y-0 lg:translate-x-30;

        #title {
          @apply font-fondamento md:text-6xl text-3xl text-gradient max-w-66;
        }
      }

      .details {
        @apply space-y-5 md:max-w-md text-left;

        h2 {
          @apply md:text-5xl text-3xl font-sans text-light-green;
        }

        p {
          @apply md:text-lg pe-5;
        }
      }
    }
  }

  #contact {
    @apply relative md:mt-20 mt-0 px-4 text-center w-full overflow-hidden radial-gradient;

    #f-left-leaves {
      @apply absolute bottom-0 left-0 pointer-events-none lg:w-fit w-1/2;
    }

    #f-right-leaf {
      @apply absolute top-0 right-0 pointer-events-none hidden lg:block;
    }

    .content {
      @apply container mx-auto sm:py-12 lg:py-14 2xl:py-32 py-16 flex flex-col justify-between gap-4 sm:gap-6 lg:gap-10 min-h-dvh;

      h2 {
        @apply lg:text-6xl 2xl:text-8xl text-5xl font-fondamento md:translate-y-0 translate-y-5 text-[#a1c45a];
      }

      h3 {
        @apply uppercase xl:text-base 2xl:text-lg text-base mb-2 text-green;
      }

      p {
        @apply lg:text-2xl 2xl:text-3xl text-sm;
      }
    }

    .drink-img {
      @apply absolute bottom-0 right-0 lg:w-96 w-1/3 pointer-events-none;
    }
  }
}
